@import "tailwindcss";

/* Hide the horizontal scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  /* Remove the grey strip (caused by padding/margins) */
  .overflow-x-auto {
    background-color: black !important; /* Force black background */
    padding-bottom: 5 !important; /* Remove extra padding */
    margin-bottom: -4px; /* Adjust if needed */
  }

  .glow
  {
    transition: 0.6s ease;
  }
  
  .glow:hover
  {
      background: #ffffff;
      color: #000000;
      border-radius: 50px;
      box-shadow: 0 0 5px #ffffff,
              0 0 25px #ffffff,
              0 0 50px #1f80e0,
              0 0 100px #1f80e0;	
  }
